.banner{
    padding: 200px 0;
}

.container{
    color: white;
    padding-left: 120px;
}
.card img{
    height: 200px;
    width: 150px;
}
.container-cards .cards{
    display: flex;
    justify-content: center;
    padding: 0 25px;
}
.title{
    text-align: center;
}
.card{
    font-size: 8px;
    padding: 0px 25px;
    border: 1px solid rgb(191, 196, 202);
    margin: 30px 55px;
    box-shadow: 2px 2px 5px rgb(50, 55, 59, 0.2);
}
.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
  }
  
  .footer a {
    font-size: 30px;
    color:  #1EDD88;
  }
  
  .footer p {
    color: #6B6C6C;
  }
  
  .footer .fas {
    color: #BF0F12;
  }